article {
    max-width: var(--max-width);
    border-radius: var(--border-radius);    
    margin: 0.5rem 0;
    background-color: var(--deco-bg-color);
    border: 1px solid var(--bg-color);
}

article>footer {
    font-size: 0.9rem;
    font-style: italic;
}

article.tmpl-todo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "todo-descr  todo-del" 
        "todo-footer todo-del";
}

.todo-ph-descr, article.tmpl-todo>footer {
    padding: 0.5rem 0.5rem 0 0.5rem;    
}

article.tmpl-todo>footer {
    grid-area: todo-footer;
}

.todo-btn-del {
    grid-area: todo-del;
}

.todo-ph-descr {
    grid-area: todo-descr;
    margin-bottom: 0.5rem;
}

.todo-ph-date {    
    color: var(--deco-color);
}

.todo-btn-del::before, .bkm-btn-del::before, .bkm-btn-del-entry::before {
    font-family: 'icomoon';
    speak: none;
    content: "\e9ac";
    font-size: 1.3rem;
    padding: 0 0.5rem;
}

article.tmpl-bkm-categ {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "bkm-label   bkm-del" 
        "bkm-entries bkm-del";
}

.bkm-ph-label {
    grid-area: bkm-label;
    padding: 0.5rem 0.5rem 0 0.5rem;   
}
.bkm-ph-entries {
    grid-area: bkm-entries;
    padding: 0.5rem 0.5rem 0 0.5rem;   
}
.bkm-btn-del {
    grid-area: bkm-del;
    padding: 0.5rem 0.5rem 0 0.5rem;   
}
.tmpl-bkm-entry {
    padding: 0 0.2rem 0.2rem 0.2rem;   
    border-top: solid var(--nav-bg-color) 1px;
    display: flex;
    justify-content: space-between;     
}
.tmpl-bkm-entry a {
    width: 100%;
    margin: 0 1rem;
    text-decoration: none;
    color: var(--deco-color);
    align-self: baseline;
}
.tmpl-bkm-entry img {
    align-self: center;
}