.conn-status::before {
    display: inline-block;
    font-family: 'icomoon';
    speak: none;    
    content: "\e9c1";
    color: var(--fg-color);
    cursor: pointer;
    font-size: 1.5rem;
}

.conn-offline::before {
    content: "\e9c1";
    color: var(--error-color);
}

.conn-online::before {
    content: "\e9c4";
    color: var(--success-color);
}