form {
    max-width: var(--max-width);
    border-radius:  var(--border-radius);
    background-color: var(--deco-bg-color);
    border: 1px solid var(--bg-color);
}
input, select {
    font-size: 1rem;
    min-width: 10rem;
}
input, select, label {
    margin: 0.5rem;
    padding: 0 0.2rem;
}

form>button, article button {    
    cursor: pointer; 
    border-top-right-radius:  var(--border-radius);
    border-bottom-right-radius:  var(--border-radius);
    border-color: var(--bg-color);   
    border-width: 0 0 0 1px;    
    background: var(--deco-color);
    color: var(--fg-color);
    font-size: 0;
}

#todo-form-add {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr auto;
    grid-template-areas: 
        "inp-descr inp-descr btn-add" 
        "lab-date  inp-date  btn-add";
}

#todo-form-add button {
    grid-area: btn-add;
    font-size: 0;
}

#todo-input-descr {
    grid-area: inp-descr;
}

#todo-input-date {
    grid-area: inp-date;
}

#todo-input-date-label {
    grid-area: lab-date;
}

#todo-form-add button::before, #bkm-form-add button::before {
    font-family: 'icomoon';
    speak: none;
    content: "\ea0a";
    font-size: 1.3rem;   
    padding: 0 0.5rem; 
}

#bkm-form-add {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4fr 1fr 3.5rem;
    grid-template-areas: 
        "inp-categ btn-add-categ btn-add" 
        "inp-label inp-label btn-add" 
        "inp-url   inp-url   btn-add";
}

.bkm-btn-add-categ {      
    display: block;
    margin: 0 0.5rem;
    grid-area: btn-add-categ;
    font-size: 0;
    cursor: pointer;     
    border: solid var(--bg-color);    
    border-width: 0 1px 1px 1px; 
    background: var(--deco-color);
    color: var(--fg-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: 0;
}

.bkm-btn-del-entry {      
    margin: 0;
    grid-area: btn-add-categ;
    font-size: 0;
    cursor: pointer;     
    border: solid var(--nav-bg-color);    
    border-width: 0 1px 1px 1px; 
    background: var(--deco-color);
    color: var(--fg-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: 0;
}
article .bkm-btn-del-entry::before{
    font-size: 0.8rem;
}

.bkm-btn-add {
    grid-area: btn-add;
    font-size: 0;
}

#bkm-input-label {
    grid-area: inp-label;
}

#bkm-input-url {
    grid-area: inp-url;
}

#bkm-input-categorie {
    grid-area: inp-categ;
}