.menu {
    margin: 0.5rem 0;
    max-width: var(--max-width);    
    display: flex;
    justify-content: space-around;
}

.menu button {
    background: var(--deco-bg-color);    
    border: 0;
    border-radius:  var(--border-radius);
    padding: 0.5rem;
    font-weight: bold;
    user-select: none;
    outline: none;
    cursor: pointer;
}

.menu button.selected {
    background: var(--deco-color);
    color: var(--fg-color);    
}